::-webkit-scrollbar {
    background-color: var(--secondary-color);
    width: 10px;
}

::-webkit-scrollbar-track {
    margin: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-text-color); 

    &:hover {
        background: var(--main-text-color-hover);
    }
}